{% extends "main.html" %} {% block content %}

{% if page == 'login' %}



<div>
  <form action="" method="POST">
    {% csrf_token %}
    <label for="">Username</label>
    <input type="text" placeholder="Enter Username" name="username" />
    <label for="">Password</label>
    <input type="password" placeholder="Enter Password" name="password" />
    <input type="submit" value="Login" />
  </form>

  <a href="{% url "register" %}">Havn't SignedUp yet?</a>
</div>

{% else %}

<div>
  <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Register" />
  </form>
  <a href="{% url "login" %}">Already have an account?</a>
</div>

{% endif %}

{% endblock content %}
